@charset "UTF-8";

/*** FONTS ***/
@import url(//fonts.googleapis.com/css2?family=Days+One&family=Ubuntu&display=swap);

/*** VARIABLES ***/
:root {
	--color-blue-darker: #114cbf;
	--color-blue-other: #1d67a4;
	--color-blue-dark: #3d76cb;
	--color-blue-light: #56b2e0;
	--color-blue-less-bright: #7fc8d7;
	--color-blue-bright: #c8eaf6;
	--color-teal-bright: #22f7b6;
}

body {
	font-family: "Ubuntu", sans-serif;
	font-size: 16px;
}

/*** RESET ***/
*,
*:before,
:after {
	box-sizing: border-box;
	position: relative;
	transition: all 0.125s linear;
}

body,
html {
	height: 100%;
	margin: 0;
}

body,
html,
a,
button {
	cursor: pointer;
	cursor: url(/images/subnauticapda_cursor.svg), pointer;
}

#root {
	overflow: hidden;
	position: relative;
	height: 100%;
	width: 100%;
}

#pda {
	background: url(/images/subnauticapda_pda_sm.png);
	background-repeat: repeat-x;
	background-size: contain;
	height: calc(100vh - 100px);
	padding: 50px 0;
	width: 100%;
	filter: drop-shadow(2px 6px 20px rgba(0, 0, 0, 0.5));
}

@media (min-width: 1024px) {
	#pda {
		background: url(/images/subnauticapda_pda_lg.png);
		background-position: top right;
		background-size: cover;
		background-repeat: no-repeat;
		height: 100vh;
		max-height: 100vh;
		width: 100%;
		aspect-ratio: 320/241;
		margin-right: auto;
		margin-left: auto;
		padding: 0;
	}
}

#screen {
	color: #fff;
	height: 100%;
	padding: 10px;
	display: flex;
	flex-direction: column;
}

@media (min-width: 1024px) {
	#screen {
		border-radius: 60px;
		height: 82.5%;
		overflow: hidden;
		padding: min(2%, 20px);
		padding-bottom: 0;
		position: absolute;
		right: 89px;
		top: 38px;
		width: min( calc( 100vw - 89px ), 1014px);
	}
}

@media (min-width: 1450px) {
	#screen {
		border-radius: 5vw;
		height: min(56.5vw, 86%);
		right: 6.125%;
		width: 70%;
		top: 2.5vw;
	}
}

@media (min-width: 1500px) {
	#screen {
		border-radius: 5vw 5vw 0 0;
	}
}

#heading h2 {
	border-bottom: 2px solid #dabc3e;
	color: #50bbcc;
	font-weight: 600;
	margin: 10px auto;
	padding-bottom: 5px;
	text-align: center;
	text-transform: uppercase;
	width: 100px;
}

#panes {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	justify-content: stretch;
	align-items: stretch;
	overflow-y: auto;
	overflow-x: hidden;
	padding-right: 15px;
	line-height: 1.5;
	scrollbar-color: var(--color-blue-light) transparent;
	scrollbar-width: thin;
}

#panes::-webkit-scrollbar {
	background: transparent;
	width: 25px;
}

#panes::-webkit-scrollbar-track {
	border: 2px solid rgba(150, 150, 150, 0.5);
	border-radius: 3px;
}

#panes::-webkit-scrollbar-thumb {
	background: var(--color-blue-light);
	border: 2px solid var(--color-blue-bright);
	border-radius: 5px;
	box-shadow: inset 0 0 15px var(--color-blue-bright);
}

#panes::-webkit-scrollbar-thumb:hover {
	background: var(--color-blue-darker);
}

#panes .pane {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	justify-content: stretch;
	align-items: stretch;
}

#panes .pane.pinned,
#panes .pane.items {
	padding-bottom: 20px;
}

#panes .pane.notes textarea {
	background: transparent;
	border: 2px solid var(--color-blue-bright);
	border-radius: 7px;
	box-shadow: inset 0 0 10px var(--color-blue-bright);
	color: #e0f4ff;
	height: 100%;
	margin: 0;
	outline: none;
	padding: 10px;
	resize: none;
	width: 100%;
}

#panes p {
	margin-bottom: 1em;
} 

.content {
	width: 100%;
	margin: 0 auto;
	padding: 2% 10px;
}

@media (min-width: 1024px) {
	.content {
		width: 768px;
	}
}

@media (min-width: 1920px) {
	.content {
		width: 1024px;
	}
}

#bkg {
	background-image: url(/images/subnauticapda_bkg.jpg);
	background-size: cover;
	background-position: center;
	filter: blur(10px);
	height: 100%;
	width: 100%;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -100;
}

#bkg video {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

#tabs {
	align-items: center;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

#tabs .tab {
	background: transparent;
	border: 2px solid var(--color-blue-bright);
	border-radius: 7px;
	box-shadow: inset 0 0 10px var(--color-blue-bright);
	color: #e0f4ff;
	margin: 0 2px;
	outline: 0;
	padding: 2px 30px;
	transform: skew(-20deg);
}

#tabs .tab:after {
	background: transparent;
	height: 2px;
	content: "";
	display: block;
	left: calc(50% + 4px);
	position: relative;
	top: 10px;
	width: 10px;
	transform: skew(20deg) !important;
}

#tabs .tab:hover,
#tabs .tab.active {
	background: var(--color-blue-darker);
}

#tabs .tab:hover svg {
	fill: #fff;
}

#tabs .tab.active:after {
	background: #f3feff;
	box-shadow: 0 0 5px #2f5cb3, 0 0 5px #2f5cb3;
}

#tabs .tab .label {
	display: none;
}

#tabs .tab svg {
	transform: skew(20deg) !important;
}

#tabs .tab svg {
	fill: url(#gradient) #fff;
	width: 25px;
	position: relative;
	top: 2px;
	filter: drop-shadow(0 0 3px var(--color-blue-other));
}

#tabs .tab .badge {
	background: #ffd003;
	border-radius: 50%;
	box-shadow: 0 0 10px #8a512d, 0 0 5px #8a512d;
	color: #7a3e00;
	height: 18px;
	font-size: 10px;
	font-weight: 600;
	padding: 2px;
	position: absolute;
	right: 20px;
	text-align: center;
	transform: skew(20deg);
	top: -10px;
	width: 18px;
}

footer {
	position: absolute;
	width: 100%;
	bottom: 0;
	background: rgba(9, 7, 9, 0.7);
	color: rgba(255, 255, 255, 0.5);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 40px;
	padding: 8px;
	font-size: 12px;
	text-align: center;
}

footer a {
	color: rgba(255, 255, 255, 0.6);
	text-decoration: none;
	font-weight: 500;
}

footer a:hover {
	color: #fff;
}

footer .icon-github {
	fill: rgba(255, 255, 255, 0.6);
	height: 14px;
	width: auto;
}

footer a:hover .icon-github {
	fill: #fff;
}

#title {
	background: linear-gradient(var(--color-blue-less-bright), #eee);
	font-family: "Days One", sans-serif;
	font-size: 40px;
	margin: 0 auto 4px;
	position: relative;
	text-align: center;
	background-clip: text;
	color: transparent;
}

#title:after {
	content: "SUBNAUTICA PDA";
	background-clip: text;
	color: #000;
	position: absolute;
	top: 1px;
	left: 0;
	z-index: -1;
	white-space: nowrap;
	text-shadow: 2px 6px 6px rgba(0, 0, 0, 0.5);
}

#title:before {
	content: "SUBNAUTICA PDA";
	background-clip: text;
	color: #fff;
	position: absolute;
	top: -1px;
	left: 0;
	z-index: -1;
	white-space: nowrap;
}

#title span {
	color: #f28d00;
}

.help {
	border: 2px solid var(--color-blue-bright);
	border-radius: 7px;
	box-shadow: inset 0 0 10px var(--color-blue-bright);
	color: #e0f4ff;
	padding: 10px;
}

.help a {
	color: #fff;
}

.help a:visited {
	color: #fff;
}

.help a:hover {
	color: var(--color-blue-less-bright);
}

.help b {
	font-weight: bold;
}

.help i {
	font-style: italic;
}

.help h1 {
	color: #fff;
	margin-bottom: 20px;
	text-align: center;
}

.alert {
	border: 1px solid rgba(175, 255, 255, 0.5);
	border-radius: 50px;
	box-shadow: inset 0 0 35px rgba(0, 238, 255, 0.5);
	color: #fff;
	display: flex;
	margin-bottom: 20px;
	padding: 0;
	align-items: center;
	text-align: center;
}

.alert .icon {
	background: radial-gradient(rgba(0, 225, 255, 0.1) 25%, rgba(0, 225, 255, 0.9) 90%, #c8eaf6 100%);
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 70px;
	width: 70px;
	padding: 10px;
	flex-shrink: 0;
}

.alert .icon svg {
	fill: #fff;
	width: 100%;
	height: auto;
}

.alert .text {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 10px;
}

.alert .text h4 {
	margin: 0;
}

.search-input {
	background: rgba(26, 102, 172, 0.6);
	border: 1px solid rgba(200, 234, 246, 0.6);
	box-shadow: inset 0 0 10px rgba(200, 234, 246, 0.5);
	color: var(--color-teal-bright);
	font-size: 1em;
	height: 40px;
	margin-bottom: 20px;
	outline: none;
	padding: 10px 40px;
	width: 100%;
}

.search-icon {
	position: absolute;
	top: 8px;
	left: 8px;
	height: auto;
	width: 24px;
	z-index: 2;
}

.search-icon svg {
	fill: var(--color-teal-bright);
}

.search-clear {
	background: rgba(255,255,255,0.1);
	border: none;
	position: absolute;
	top: 0;
	right: 0;
	height: 40px;
	width: 40px;
	z-index: 2;
}

.search-clear svg {
	fill: var(--color-teal-bright);
}

.group {
	align-items: flex-start;
	display: flex;
	height: 48px;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	margin-bottom: 0;
	overflow: hidden;
}

.group.open {
	height: auto;
	margin-bottom: 20px;
}

.group h3 {
	background: rgba(26, 102, 172, 0.6);
	border: 1px solid rgba(200, 234, 246, 0.6);
	box-shadow: inset 0 0 5px rgba(200, 234, 246, 0.5);
	font-size: 1em;
	font-weight: 600;
	letter-spacing: 0.5px;
	margin-bottom: 20px;
	padding: 3px 0 3px 10px;
	width: 100%;
}

.group h3:before {
	content: "⌵";
	margin-right: 10px;
	transform: rotate(-90deg);
	display: inline-block;
}

.group h3:hover {
	background: rgba(0, 133, 255, 0.6);
	border: 1px solid rgba(255, 255, 255, 0.6);
	box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.9);
}

.group.open h3:before {
	transform: rotate(0deg);
	transform: translateY(-2px)
}

.group .item {
	border-radius: 10px;
	margin-bottom: 10px;
	margin-right: 10px;
	padding: 5px;
	position: relative;
	width: min( calc( ( 100% / 3 ) - 10px), calc( 128px - 10px ));
}

.item img,
.ingredient img {
	background-image: url(/images/subnauticapda_item-bkg.png);
	background-size: cover;
	background-position: top center;
	background-repeat: no-repeat;
	padding: 7.5%;
	width: 100%;
}
.ingredient img {
	padding: 2px;
}

.item.pinned img {
	background-image: url(/images/subnauticapda_item-pinned-bkg.png);
}

.item svg {
	width: 25px;
	height: auto;
	position: absolute;
	top: 12px;
	right: -8px;
	fill: var(--color-teal-bright);
	stroke-width: 2px;
}

.item .name {
	display: block;
	font-weight: 600;
	line-height: 1;
	text-align: center;
}

.group .item:hover {
	background: var(--color-blue-darker);
}

.group .item:active { 
	background: #f28d00;
}

.pinned-item {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	background: rgba(26, 102, 172, 0.1);
	border: 1px solid rgba(200, 234, 246, 0.6);
	box-shadow: inset 0 0 5px rgba(200, 234, 246, 0.5);
	padding: 10px;
	margin-bottom: 10px;
}

.pinned-item .controls {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-right: 15px;
}

.pinned-item .controls .quantity-buttons {
	display: flex;
	flex-direction: row;
}

.pinned-item .controls .quantity-buttons button {
	border-radius: 5px 0 0 5px;
	color: #85bedc;
	font-weight: bold;
	display: inline;
	margin: 0;
	text-shadow: 0 0 3px var(--color-blue-other);
}

.pinned-item .controls .quantity-buttons button:last-of-type {
	border-radius: 0 5px 5px 0;
}

.pinned-item .controls button {
	background: rgba(26, 102, 172, 0.1);
	border: 1px solid rgba(200, 234, 246, 0.6);
	border-radius: 10px;
	box-shadow: inset 0 0 15px rgba(200, 234, 246, 0.5);
	margin-bottom: 15px;
	outline: none;
	padding: 10px 4px;
}

.pinned-item .controls button svg {
	width: 40px;
	fill: #85bedc;
	filter: drop-shadow(0 0 3px var(--color-blue-other));
}

@media (min-width: 1024px) {
	.pinned-item .controls button svg {
		width: 30px;
	}
}

.pinned-item .controls button:hover svg {
	fill: red;
}

.pinned-item .item {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-right: 15px;
	width: 90px;
}

.pinned-item .data {
	align-self: flex-start;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 100%;
}

.pinned-item .data h3 {
	background: rgba(26, 102, 172, 0.6);
	border: 1px solid rgba(200, 234, 246, 0.6);
	box-shadow: inset 0 0 5px rgba(200, 234, 246, 0.5);
	font-size: .9em;
	font-weight: 600;
	letter-spacing: 0.5px;
	margin-bottom: 5px;
	padding: 3px 0 3px 10px;
	width: 100%;
}

.pinned-item .data h3:before {
	content: "⌵";
	margin-right: 10px;
	transform: rotate(0deg);
	display: inline-block;
}

.pinned-item .data h3:not(:first-of-type) {
	margin-top: 10px;
}

.pinned-item .location,
.pinned-item .recipe {
	align-self: flex-start;
	display: flex;
	flex-direction: row;
	flex-grow: 1;
	flex-wrap: wrap;
	justify-content: flex-start;
	padding: 0 10px;
}

.pinned-item .quantity,
.pinned-item .yield {
	background: #ffd003;
	border-radius: 50%;
	box-shadow: 0 0 10px #8a512d, 0 0 5px #8a512d;
	color: #7a3e00;
	display: inline-block;
	font-weight: bold;
	height: 26px;
	margin-right: 5px;
	padding: 2px;
	text-align: center;
	width: 26px;
}

.pinned-item .ingredient {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding-right: 15px;
	margin-right: 15px;
	margin-bottom: 5px;
	position: relative;
}

.pinned-item .ingredient:after {
	display: block;
	content: "+";
	position: absolute;
	right: -20px;
	top: calc(50% - 13px);
	margin-right: 15px;
}

.pinned-item .ingredient:last-child:after {
	content: "";
}

.pinned-item .ingredient img {
	margin-right: 5px;
	width: 30px;
}